.body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.9753151260504201) 0%, rgba(67,129,71,1) 28%, rgba(67,129,71,1) 68%, rgba(0,0,0,1) 100%);
  height: 100%;
}

.body-ListTournament{
  background-image: url("https://media.extron.com/public/landing/content/esports/esports-hero.jpg");
  background-size: cover; 
  min-height: 100vh;
}

.body-AddTournament{
  background-image: url("https://media.extron.com/public/landing/content/esports/esports-hero.jpg");
  background-size: cover;
  min-height: 100vh;
}

.body-home{
  background-image: url("https://static01.nyt.com/images/2022/11/26/business/00esports-top/merlin_216757611_6eeb99a7-ab4a-455f-a422-94b23b570835-videoSixteenByNine3000.jpg");
  background-size: cover;
  height: 100%;
}

.body-signup{
  background-image: url("https://img.buzzfeed.com/buzzfeed-static/complex/images/gq2gdlvi9i7vvowtzpfm/league-of-legends.jpg?output-format=jpg&output-quality=auto");
  background-size: cover;
  height: 100%;
}

.body1{
  background-color: black;
  height: 100%;
}

.signup-card{
  background-color: black;
}

.signup-input{
  width: 100%;
  padding: 5px;
  border: 0.5px lightgrey;
  background-color: black;
}

/* .signup-tc{
  font-size: medium;
  color: darkgray;
} */

.my-img{
  height: 250px;
  object-fit: cover;
}

font{
  font-family: Montserrat;
}

